figure {
    width: 50%;
    margin: 0 auto;
}

video {
    width: 100%;
}

progress {
    appearance: none;
    -webkit-appearance: none;

    border: none;
    width: 100%;
}

progress::-webkit-progress-value {
    background: linear-gradient(to left, #8e60db, #9003fc);
}

progress::-webkit-progress-bar {
    background: #553787;
}