* {
    font-family: "Consolas";
}

figure {
    width: 50%;
    margin: 0 auto;
}

video {
    width: 100%;
}

progress {
    appearance: none;
    -webkit-appearance: none;

    border: none;
    cursor: pointer;
    width: 100%;
}

progress::-webkit-progress-value {
    background: linear-gradient(to left, #8e60db, #9003fc);
}

progress::-webkit-progress-bar {
    background: #553787;
}

#progressLabel {
    display: block;
    text-align: center;
    width: 100%;
}

button {
    background-color: #e087c7;
    border: solid 1px #cc39a3;
    cursor: pointer;
    height: 2rem;
    outline: none;
    width: 100%;
}