.content {
  margin-top: 2rem;
}

.figure {
  background: url('./tony.jpg') no-repeat center center;
  background-size: cover;
  display: inline-block;
  height: 200px;
  width: 290px;
}

.example1 {
  clip-path: inset(60px 20px);
}