.content {
  margin-top: 2rem;
}

.figure {
  background: url('./tony.jpg') no-repeat center center;
  background-size: cover;
  display: inline-block;
  height: 200px;
  width: 290px;
}

.example1 {
  clip-path: inset(60px 20px round 20px);
}

.example2 {
  clip-path: circle(75px at 100px 100px);
}

.example3 {
  clip-path: ellipse(100px 75px at 100px 70px);
}

.example4 {
  clip-path: polygon(20px 30px, 210px 50px, 150px 80px, 240px 120px, 40px 180px);
}

.example5 {
  clip-path: url(#heart);
}